<script src="https://kit.fontawesome.com/ae068108e1.js" crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">

        <a class="navbar-brand" href="/">Anime.<span class="emphasis">io</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav navbar-nav ml-auto mt-2 mt-lg-0">

                <li class="nav-item active">
                    <a class="nav-link" href="/user/users">People <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/user/friend">Friends <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle notification-btn" href="#" id="navbarDropdownMenuLink"
                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <% if ( user.notification.length > 0 ) { %>
                        <i id="notification-icon" style="color: red;" class="fas fa-envelope"></i>
                        <% } else { %>
                        <i id="notification-icon" class="fas fa-envelope"></i>
                        <% } %>
                    </a>
                    <% if ( user.notification.length > 0 ) { %>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <% for ( let info of user.notification ) { %>
                        <a class="dropdown-item" href=""><%= info %></a>
                        <%} %>
                    </div>
                    <% } %>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-friends"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Friend1</a>
                        <a class="dropdown-item" href="#">Friend1</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle emphasis" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span id="main-username"><%= user.username %></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/user/profile/<%= user.username %>"><i class="far fa-user"></i>
                            Profile</a>
                        <a class="dropdown-item" href="/user/setting"><i class="fas fa-cog"></i> Setting</a>
                        <a class="dropdown-item" id="logout-btn" href="#"><i class="fas fa-sign-out-alt"></i>
                            LogOut</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>