<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div class="brand">
            <img class="brand__logo logoAnimation" src="/images/logo.png" alt="">
            <a class="navbar-brand brand__name" href="/">
                Anime.<span class="emphasis">io</span>
            </a>
        </div>
    </div>
</nav>