<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Meta data -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Title  -->
    <title><%= title %></title>

    <!-- Bootstrap dependencie -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Links for css and favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/login-signup.css">
</head>

<body>

    <!-- main containe will cover whole screen -->
    <div class="main-container">

        <!-- This container will contain navbar -->
        <div class="container">
            <%- include('partials/loginnav.ejs') %>
        </div>

        <!-- login Container will divide screen into equal portions -->
        <div class="login-container">

            <!-- For left side animation -->
            <div class="left-login globalAnimation">
                <div class="grid__item-text">
                    <h5></h5>
                </div>
            </div>

            <!-- This login area contain form for forgotpassword -->
            <div class="login-area">

                <div class="form-container">
                    <div class="form-wrap">
                        <div class="form-heading">
                            <img class="main-logo logoAnimation" src="/images/logo.png" alt="" srcset="">
                            <h1>Forgot Password</h1>
                        </div>
                        <p>It's Infinite <span class="emphasis">Tsukuyomi<span> </p>
                        <form id="forgot-form">

                            <div class="form-group">
                                <input type="email" name="email" id="email" placeholder='Enter email' / required>
                            </div>
                            <button type="submit" id="forgot-btn" class="btn">Send Token</button>
                            <p class="bottom-text ">
                                Check your mail for reset token.
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- These script are bootstrap dependencies -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <!-- user js -->
    <script src="./js/bundle.js"></script>
</body>

</html>