<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
    <title><%= title %></title>
</head>

<body>
    <!-- Page 1: This Page will contain sign up form -->
    <div class="page page-1">
        <!-- this is nav bar copied from bootstrap :) -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">

                <a class="navbar-brand" href="/login">Anime.<span class="emphasis">io</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav navbar-nav ml-auto mt-2 mt-lg-0">

                        <li class="nav-item active">
                            <a class="nav-link" href="/login">Log <span class="emphasis">In</span> <span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/signup">Sign <span class="emphasis">Up</span> <span
                                    class="sr-only">(current)</span></a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>

        <!-- From here our form starts -->
        <div id="container">
            <div class="form-wrap">
                <h1>Log In </h1>
                <p>It's Infinite <span class="emphasis">Tsukuyomi<span> </p>
                <form id="login-form">

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" placeholder='you@example.com' / required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" placeholder="••••••••" / minlength="8"
                            required>
                    </div>
                    <button type="submit" id="login-btn" class="btn">Log In</button>
                    <p class="bottom-text ">
                        Forgot password ? Click
                        <a href="/forgotpassword" class="emphasis">here</a>
                    </p>
                </form>
            </div>
            <footer>
                <p>Do not have account? <a href="/signup">SignUp</a></p>
            </footer>
        </div>
    </div>

    <!-- Page 2 : This will contain the chatting gif -->
    <div class="page page-2">

    </div>
    <!-- Page 3 : This page will container information about the creator yaani main : ) -->
    <div class="page page-3">

    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/ae068108e1.js" crossorigin="anonymous"></script>
    <script type="module" src="/js/index.js"></script>
</body>

</html>