/*************************************************/
/*************@author : Mandeep Bisht*************/
/*************************************************/

/**********************************************************
 * This file will contain styles related to chat room     * 
 **********************************************************/


/*************Outer most block for chat area*************/
 .chat-grid {
    display: grid;
    grid-template-rows: calc(100% - 70px) 70px;
    grid-template-columns: max-content auto;
    /* flex-grow: 1; */
    width: 100vw;
    position: relative;
}
/********************************************************/


/*************Sidebar area*************/
.sidebar-area {
    position: relative;
    box-shadow: 5px 0 15px rgba(143, 137, 137, 0.5);
    border-radius: 0px 20px 20px 0px;
    background-color: #222;
    color: #fff;
    max-width: 300px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
/********************************************************/


/*************Sidebar header for group info************/
.sidebar-area>.sidebar-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    overflow-y: scroll;
}

.sidebar-area>.sidebar-header::-webkit-scrollbar {
    display: none;
}

.sidebar-area>.sidebar-header>img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 20px 0px 20px 0px;
    padding: 2px;
    border: var(--primary-dark) solid 1px;
    transition: 1s;
    transition-property: all;
}

.sidebar-area>.sidebar-header>.group-name {
    color: var(--primary-dark);
    display: none;
}

.sidebar-area>.sidebar-header>.usercount {
    color: var(--secondary-light);
}

/********************************************************/


/*************Sidebar header for group info************/
.sidebar-area>.online-users {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.sidebar-area>.online-users::-webkit-scrollbar {
    display: none;
}

.online-users>.online-user {
    display: flex;
    align-items: center;
    min-height: 70px;
    padding: 2px;
    border-radius: 0px;
    border-radius: 0px 20px 20px 0px;
    transition: 0.6s;
    transition-property: background-color, color;
}

.online-users>.online-user {
    border-bottom: var(--primary-dark) 1px solid;
    color: var(--secondary-light);
}

/* .online-users>.online-user:nth-child(odd) {
    border-bottom: var(--secondary-light) 1px solid;
    color: var(--primary-dark);
} */

.online-users>.online-user:hover:nth-child(even) {
    color: #fff;
    background-color: var(--primary-dark);
}

.online-users>.online-user:hover:nth-child(odd) {
    color: #fff;
    background-color: var(--secondary-light);
}

.online-users>.online-user>img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.online-users>.online-user>.online-username {
    font-weight: bold;
    display: none;
    padding: 10px;
    letter-spacing: 1px;
}
/********************************************************/


/*************Sidebar for private chat room************/
.privatesidebar-area {
    position: relative;
    box-shadow: 5px 0 15px rgba(143, 137, 137, 0.5);
    border-radius: 0px 20px 20px 0px;
    background-color: #222;
    color: #fff;
    max-width: 300px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.privatesidebar-area>.sidebar-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    overflow-y: scroll;
}

.sidebar-header::-webkit-scrollbar {
    display: none;
}

.privatesidebar-area>.sidebar-header>.username {
    color: #479adf;
    font-size: 20px;
    display: none;
    padding: 10px;
}

.privatesidebar-area>.sidebar-header>img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px 0px 20px 0px;
    transition: 1s;
    transition-property: all;
    padding: 2px;
    border: #DC143C 2px solid;
}

.privatesidebar-area>.sidebar-header>.online-status {
    text-align: center;
    font-size: 15px;
    color: #DC143C;
    display: none;
}

.privatesidebar-area>.sidebar-header>.fullname {
    display: none;
    color: #37a08e;
}

.privatesidebar-area>.sidebar-header>.status {
    text-align: center;
    font-size: 15px;
    display: none;
}

#sidebar-view:checked~.privatesidebar-area>#sidebarview-label>i {
    transform: rotate(180deg);
    color: #479adf;
}

#sidebar-view:checked~.privatesidebar-area>.sidebar-header>img {
    width: 150px;
    height: 150px;
    margin: 10px 20px 30px 20px;
}

#sidebar-view:checked~.privatesidebar-area>.sidebar-header>* {
    display: unset;
}
/********************************************************/



/*************Text area for messsages************/
.text-area {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: url('https://i.ya-webdesign.com/images/anime-naruto-png-8.png') center / contain no-repeat;
}

.text-area::-webkit-scrollbar {
    display: none;
}


.text-area .message {
    padding: 8px;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.own-message {
    align-items: flex-end;
    align-self: flex-end;
}

.other-message {
    align-items: flex-start;
    align-self: flex-start;
}

.other-message .message-text {
    background: var(--primary-dark);
    border-radius: 0px 20px 20px 20px;
}

.own-message .message-text {
    background: var(--secondary-light);
    border-radius: 20px 0px 20px 20px;
}

.text-area .message .message-image {
    width: 60px;
    height: 60px;
    border-radius: 50% 50% 0 0;
}

.text-area .message .message-text {
    padding: 15px;
    color: #fff;
    min-width: 75px;
}

.text-area .message .message-time {
    font-size: 0.8rem;
    color: #8f8f8f;
    padding: 8px 15px;
}
/********************************************************/


/*************send area to send messages************/
.send-area {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    padding: 15px;
}

.send-area>button {
    border: 1px solid var(--primary-dark);
    padding: 2px 6px;
    border-radius: 5px;
    background-color: #fff;
}

.send-area>button>i {
    color: var(--primary-dark);
    font-size: 40px;
}

.send-area>.group-message-form {
    padding: 5px 5px 0px 5px;
    flex-grow: 1;
    display: block;
}

.send-area>.group-message-form>input {
    border: none;
    padding: 15px;
    border-bottom: 1px var(--primary-dark) solid;
    margin-left: 5px;
    display: block;
    width: 100%;
    height: 100%;
}
/********************************************************/


/*************sidebarview for changing sidebar mode************/
#sidebar-view {
    display: none;
}

#sidebarview-label {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20px;
    right: -40px;
    width: 40px;
    height: 50px;

    background-color: #222;
    border-radius: 0px 50% 50% 0px;
}

#sidebarview-label>i {
    color: var(--primary-dark);
    font-size: 30px;
    transition: 1s;
    transition-property: transform, color;
}

#sidebar-view:checked~.sidebar-area>#sidebarview-label>i {
    transform: rotate(180deg);
    color: var(--secondary-light);
}

#sidebar-view:checked~.sidebar-area .online-username {
    display: unset;
}

#sidebar-view:checked~.sidebar-area>.sidebar-header>img {
    width: 150px;
    height: 150px;
    margin: 30px 10px 30px 10px;
}

#sidebar-view:checked~.sidebar-area>.sidebar-header>.group-name {
    display: unset;
}

#sidebar-view:checked~.sidebar-area>.online-users>.online-user {
    min-height: 80px;
    padding: 10px;
}

#sidebar-view:checked~.sidebar-area>.online-users>.online-user>img {
    width: 60px;
    height: 60px;
}
/********************************************************/


/*************Media query*************/
@media(max-width: 550px) {
    #sidebar-view:checked~.text-area * {
        display: none;
    }

    #sidebar-view:checked~.send-area * {
        display: none;
    }
}

@media(max-width: 420px) {

    .chat-grid {
        grid-template-columns: min-content auto;
    }

    .send-area {
        grid-row: 2 / span 1;
        grid-column: 1 / span 2;
    }

    .temp-area {
        display: none;
    }
}
/********************************************************/
