* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Raleway;
    line-height: 1.8;
}

.emphasis {
    color: #37a08e;
}

.page {
    height: 100vh;
}

.page-1 {
    background-color: rgb(248, 249, 250);
}

.page-2 {
    background-color: #49c1a2;
}

.page-3 {
    background-color: #f55308;
}

a, a:hover {
    text-decoration: none;
}

#container {
    max-width: 450px;
    margin: 0px auto;
    padding: 20px;
}

.form-wrap {
    background: white;
    padding: 15px 25px;
    margin-top: 100px;
    border-radius: 5px;
    color: #333;
}

.form-wrap h1,
.form-wrap p {
    text-align: center;
}

.form-wrap .form-group {
    margin-top: 15px;
}

.form-wrap .form-group label {
    display: block;
    color: #666;
}

.form-wrap .form-group input {
    width: 100%;
    padding: 10px;
    border: #ddd 1px solid;
    border-radius: 5px;
}

.form-wrap button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background: #49c1a2;
    color: white;
    cursor: pointer;
    border: #ddd 1px solid;
    border-radius: 4px;
    font-size: medium;
}

.form-wrap button:hover {
    background-color: #37a08e;
}

.form-wrap .bottom-text {
    font-size: smaller;
    margin-top: 20px;
    text-align: right;
}

footer {
    margin-top: 10px;
    text-align: center;
    color: #494949;
}

footer a {
    color: #49c1a2;
}

/* Alert */

.alert {
    text-align: center;
    padding: 10px;
    margin: auto;
    width: 100%;
    color: rgb(248, 249, 250);
}

.alert-error {
    background-color: #eb4d4b;
}

.alert-success {
    background-color: #37a08e;
}